body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #98dde6;
    padding: 22px;
}

h2 {
    color: #f0e78c;
}

input {
    width: 200px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    font-size: 18px;
}
